<app-menu>
  <mat-toolbar class="background-navy-primary green-primary">
    <span>DISEÑO DE JUEGOS</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <div class="publicity-container">
    <div class="publicity__changes">
      <p class="publicity__title white-color">ADIVINA LA PUERTA</p>
      <div class="door-container">
        <div class="door-column">
          <p>PUERTA IZQUIERDA</p>
          <img src="{{previewDoorLeft}}" alt="puerta izquierda" />
          <button class="plus-button" (click)="takeInputDoorLeft.click()">+</button>
          <input class="file-input" type="file" #takeInputDoorLeft (change)="capturarFileDoors($event,'left')">
        </div>
        <div class="door-column">
          <p>PUERTA CENTRAL</p>
          <img src="{{previewDoorCenter}}" alt="puerta central" />
          <button class="plus-button" (click)="takeInputDoorCenter.click()">+</button>
          <input class="file-input" type="file" #takeInputDoorCenter (change)="capturarFileDoors($event,'center')">
        </div>
        <div class="door-column">
          <p>PUERTA DERECHA</p>
          <img src="{{previewDoorRight}}" alt="puerta derecha" />
          <button class="plus-button" (click)="takeInputDoorRight.click()">+</button>
          <input class="file-input" type="file" #takeInputDoorRight (change)="capturarFileDoors($event,'right')">
        </div>
      </div>
      <p class="publicity__title white-color">Escala de imagen 190x372</p>
      <div class="buttons-container">
        <app-button-primary (click)="updateDesign()" title="Guardar"></app-button-primary>
        <app-button-primary (click)="cancel()" title="Cancelar" backgroundColor="#fff"></app-button-primary>
      </div>
    </div>
    <div class="publicity__view">
      <div class="publicity__view-column">
        <img id="background" src="{{previewBackground}}" alt="fondo puertas" />
        <button class="select-button" (click)="takeInputBackground.click()">Seleccionar Fondo</button>
        <input class="file-input" type="file" #takeInputBackground (change)="capturarBackgroundFile($event)">
      </div>

      <div class="publicity__view-column">
        <img id="logo" src="{{previewLogo}}" alt="logo puertas" />
        <button class="select-button" (click)="takeInputLogo.click()">Seleccionar Logo</button>
        <input class="file-input" type="file" #takeInputLogo (change)="capturarFileLogo($event)">
      </div>
    </div>
  </div>
</app-menu>