.publicity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;
  }
  
  .publicity__changes {
    width: 50%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  
  .publicity__view {
    width: 50%;
  }
  
  .door-container {
    display: flex;
    gap: 1rem;
  }
  
  .door-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .plus-button {
    margin-top: 0.5rem;
  }
  
  .save-button,
  .select-button {
    margin-top: 1rem;
  }
  