.scan_menu-container {
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 3;
}
.container-menu {
   position: relative;
   height: 70vh;
   width: 100%;
   background-color: black;
}
.scan-shadow {
   height: 70vh;
   width: 100%;
   position: absolute;
   background-color: #000000d4;
   z-index: 2;
}
.menu-container_img-container {
   width: 39rem;
   height: 19rem;
   min-height: 4rem;
   margin: 0 1rem 1rem 0;
}
.info-game__text-title{
   color: white;
   font-size: 4rem;
   margin-top: .5rem;
   margin-bottom: 1.7rem;
}

.info-game__text{
   color: white;
   font-size: 4rem;
}
.information-game-container {
   background-color: #ffaf00;
   width: 100%;
   display: flex;
   justify-content: center;
   height: 7rem;
   align-items: center;
   margin-bottom: 1rem;
}
/* //Spinner */
.spinner__container {
   position: relative;
   display: flex;
   justify-content: center;
   height: 671px;
    width: 1080px;

}
.awards-container {
   position: absolute;
   top: 111px;
   height: 469px;
   left: calc(50% - 374px);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6.5rem;
   z-index: 4;
   overflow: hidden;
}

/* Animacion column to give feel of spinning
ocupa 900 px de altura la columna en negativo
*/
.awards-column {
   display: flex;
   flex-direction: column;
   gap: 160px;
   height: 160px;
   animation-duration: 4s;
   animation-name: slidevertical;
   animation-iteration-count: infinite;
}

@keyframes slidevertical {
   from {
      /* transform: translateY(0); */
   }

   to {
      /* transform: translateY(900); */
   }
}
/*  */

.award-image-container {
   min-height: 160px;
   width: 187px;
}
.award-box-container {
   position: relative;
   width: 100%;
   height: 100%;
   max-width: 1309px;
}
.winner-container {
   position: absolute;
   z-index: 5;
   top: -240px;
   width: 950px;
   height: 900px;
}
.container_play-btn{
   z-index:6;
   margin-top: 2rem;
}
p,
figure {
   margin: 0;
}
img {
   width: 100%;
   height: 100%;
}

#back-arrow {
   position: absolute;
   top: 20px;
   left: 20px;
   background-color: transparent;
   border: none;
   color: white;
   font-size: 2rem;
   cursor: pointer;
 }