<div>
	<app-publicity [publicityList]="dashPublicity.getTopPublicityList()"></app-publicity>
	<div *ngIf=buttonRecharge>
		<button
			mat-icon-button
			color="warn"
			matTooltip="Recargar"
			(click)="recargar()"
		>
			<mat-icon class="green-primary"> reload </mat-icon>
		</button>
	</div>
	<div class="container-fluid home_container p-0 m-0">
		<video
			class="home-image_container"
			[autoplay]="true"
			[loop]="true"
			[volume]="0.05"
			[src]="videoUrl"
			(click)="goScan()"></video>
	</div>
	<app-publicity
		[publicityList]="dashPublicity.getBottomPublicityList()"
		[isTop]="false"></app-publicity>
</div>
