body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: var(--color-principal);
  text-align: center;
}

.publicity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.publicity__changes {
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 10px;
}

.dice-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-column p{
  color: white;
}

.dice-column img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

.publicity__view {
  display: grid;
  grid-template-columns: repeat(1, 0.7fr);
  grid-template-rows: repeat(2, 0.7fr);
  gap: 0.5rem;
}

.publicity__view-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.publicity__view-column img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

.publicity__view img#background {
  width: 50%;
  height: 500%;
  border-radius: 5px;
  margin: 10px;
}

.publicity__view img#logo {
  width: 50%;
  height: 75%;
  border-radius: 5px;
  margin: 10px;
}

.plus-button {
  background-color: var(--color-principal);
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.plus-button:hover {
  background-color: var(--color-principal);
}

input[type="file"] {
  display: none;
}

.buttons-container {
  display: flex;
  gap: .5rem;
  margin-top: 1rem;
}

button {
  background-color: var(--color-principal);
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: var(--color-principal);
}
