<div class="container-fullscreen">
    <app-publicity [publicityList]="publicity.getTopPublicityList()"></app-publicity>
    <div class="container-menu">
        <app-logo [urlImage]="styles.get_image_background_puertas()" [isBackground]="true" height="25rem"></app-logo>
        <div class="scan-shadow"></div>
        <div class="scan_menu-container">
            <div class="menu-container_img-container">
            <app-logo
					[urlImage]="styles.get_image_logo_puertas()"
					height="22rem"
					[isHome]="false"></app-logo>
            </div>
            <app-back-arrow id="back-arrow" [enabled]="backArrowEnabled"></app-back-arrow>
            <h2 class="subtitle">Escoge la Puerta</h2>
            <p class="instructions">¡Abre una puerta y podrás llevarte el premio que contenga!</p>
            <div class="information-game-container" [ngPlural]="gameLogicService.attempts" [ngStyle]="{
                color: 'styles.get_color_text()'
            }">
            <ng-template ngPluralCase="=0">
                <p class="info-game__text">Disponible 0 turnos /(U_U)\</p>
            </ng-template>
            <ng-template class="info-game__text" ngPluralCase="=1">
                <p class="info-game__text">Disponible 1 turno más!</p>
            </ng-template>
            <ng-template class="info-game__text" ngPluralCase="other">
                <p class="info-game__text" *ngIf="gameLogicService.winFirstTime == false">
                    Disponible {{ gameLogicService.attempts }} turnos más!
                </p>
            </ng-template>
        </div>
            <div class="doors">
                <div *ngFor="let door of animation.doors; let i = index" 
                     class="door" 
                     [class.isOpen]="door.isOpen" 
                     [class.disabled]="(!animation.isGameStarted || animation.isDoorSelected) && !door.isOpen" 
                     (click)="animation.openDoor(i); music();">
                    <div *ngIf="slot_music">
                        <audio [volume]="0.5" controls="None" hidden autoplay>
                            <source src="./assets/audio/door_opened.mp3" />
                        </audio>
                    </div>
                    <div class="door-inner">
                        <div class="door-front">
                            <img [src]="door.image">
                        </div>
                        <div class="door-back">
                            <img *ngIf="door.isOpen" [src]="door.prize" >
                        </div>
                    </div>
                </div>
            </div>
            
            <app-generic-button *ngIf="!animation.isGameStarted" title="Empezar" [fontSize]="'2rem'" [styledPadding]="'0.5rem 2rem'" class="mb-2 container_play-btn" (click)="animation.startGameDoor(); this.backArrowEnabled = false">
            </app-generic-button>
        </div>
    </div>
    <app-publicity [publicityList]="publicity.getBottomPublicityList()" [isTop]="false"></app-publicity>
</div>
<audio autoplay [volume]="0.02" loop controls="None" hidden src="./assets/audio/playing_music.mp3"></audio>
