.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.doors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.door {
    background-color: #142850;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

.door:hover {
    transform: scale(1.05);
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
