.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
mat-label{
    font-size: 1.15rem;
    color: var(--color-principal);
}
.card{
    width: 33%;
    height: 800px;
    border-radius: 10px;
    background: var(--color-fondo-principal);
}
.history{
    width: 33%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-color:var(--color-principal) ;
    border-style: none solid none solid;
}
.history_content{
    display: flex;
    flex-direction: column;
	flex-flow: wrap;
    justify-content: space-evenly;
	overflow-y: scroll;
	overflow-x: hidden;
    
}
.summary{
    width: 33%;
    height: 800px;
    display: flex;
    flex-direction: column;
}
.datos{
    width: 100%;
    margin-bottom: 25px;
}
.container_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.mat-list-item{
    font-size: 1.25rem;
    color: var(--color-letras);
}
.mat-toolbar{
    background-color: var(--color-fondo-secundario);
    color: var(--color-principal);
}
.separate{
    height: 15px;
    margin-bottom: 30px;
    color: var(--color-principal);
    border-color:var(--color-principal) ;
    border-style: none none solid none;
}
h2, .summary_title{
    color: var(--color-principal);
    text-align: center;
}
.history_head{
    justify-content: center;
    margin-bottom: 25px;
}
.filter {
    margin: 0 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--color-principal) 1px solid;
    border-radius: 25px;
  }
.summary_head{
    padding-top: 50px;
}
.summary_values{
    color: #fff;
    text-align: center;
    font-size: 4em;
}
.available_ticket{
    display: flex;
    flex-direction: column;
	flex-flow: wrap;
    justify-content: space-evenly;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ticket_border{
    padding: 15px;
    border-color:var(--color-principal) ;
    border-style: dashed ;
}
/* .mat-list-item{
    font-size: 0.9rem;
    background-color: #fff;
    color: #000;
    display: block;
    padding: 7px;
    border-radius: 10px;
    margin-top: 5px;
} */
