<div class="container-fullscreen">
    <app-publicity [publicityList]="publicity.getTopPublicityList()"></app-publicity>
    <div class="container-menu">
        <div class="background-shadow"><img src="{{styles.get_image_background_dados()}}" alt="background"></div>
        <div class="scan_menu-container">
            <div class="menu-container_img-container">
                <app-logo [urlImage]="styles.get_image_logo_dados()" height="22rem" [isHome]="false"></app-logo>
            </div>
            <app-back-arrow id="back-arrow" [enabled]="backArrowEnabled"></app-back-arrow>
            <h2 class="subtitle">Tira el dado</h2>
            <p class="instructions">Ingresa un número y haz girar el dado, si coinciden ¡ganas!</p>
            <div class="information-game-container" [ngPlural]="gameLogicService.attempts" [ngStyle]="{
                        color: 'styles.get_color_text()'
                    }">
                <ng-template ngPluralCase="=0">
                    <p class="info-game__text">¡Sin Giros Disponibles!</p>
                </ng-template>
                <ng-template class="info-game__text" ngPluralCase="=1">
                    <p class="info-game__text">¡Disponible 1 Giro más!</p>
                </ng-template>
                <ng-template class="info-game__text" ngPluralCase="other">
                    <p class="info-game__text" *ngIf="gameLogicService.winFirstTime == false">
                        ¡Disponibles {{ gameLogicService.attempts }} Giros más!
                    </p>
                </ng-template>
            </div>
            <div class="dice-container">
                <div class="dice" [ngClass]="{'roll': animation.isRolling}"
                    [ngStyle]="{'transform': !animation.isRolling ? animation.finalTransformDice : '', 'animation-duration': animation.rollTime + 's'}">
                    <div class="face one"><img src="{{styles.get_image_dice_face_one()}}" alt="Face 1"></div>
                    <div class="face two"><img src="{{styles.get_image_dice_face_two()}}" alt="Face 2"></div>
                    <div class="face three"><img src="{{styles.get_image_dice_face_three()}}" alt="Face 3"></div>
                    <div class="face four"><img src="{{styles.get_image_dice_face_four()}}" alt="Face 4"></div>
                    <div class="face five"><img src="{{styles.get_image_dice_face_five()}}" alt="Face 5"></div>
                    <div class="face six"><img src="{{styles.get_image_dice_face_six()}}" alt="Face 6"></div>
                </div>
            </div>
            <div class="generic-button-container">
                <app-generic-button title="Girar" [fontSize]="'4rem'" [disabled]="animation.disabledPlayButton"
                    [styledPadding]="'2rem 2.5rem'" class="mb-2 container_play-btn"
                    (click)="animation.startGameRolldice() ; music(); this.backArrowEnabled = false;">
                    <div *ngIf="slot_music">
                        <audio controls="None" hidden autoplay [loop]="animation.isRolling">
                            <source src="./assets/audio/roll_dice.mp3" type="audio/mp3" />
                        </audio>
                    </div>
                </app-generic-button>
            </div>
            <input class="btn menu__input" type="text" #codeInput="ngModel" [(ngModel)]="keyController.code"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                placeholder="Ingresa el número a adivinar" pattern="[0-9]{1}" maxlength="1" />
            <app-keyboard *ngIf="!scanState" [keys]="['1', '2', '3', '4', '5', '6', 'delete']"></app-keyboard>
            <audio autoplay [volume]="0.02" loop controls="None" hidden src="./assets/audio/playing_music.mp3"></audio>
        </div>
    </div>
    <app-publicity [publicityList]="publicity.getBottomPublicityList()" [isTop]="false"></app-publicity>
</div>