/* Ajustes para que el contenedor principal ocupe toda la pantalla */
.container-fullscreen {
  background-color: #0d1b2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-menu {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}

.scan-shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000d4;
  z-index: 2;
}

.scan_menu-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-sizing: border-box;
}

#back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.subtitle {
  font-size: 2rem;
  margin-top: 0;
  color: white;
}

.instructions {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: white;
}
.dice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* A침adir margen inferior para separar el bot칩n del dado */
}

.generic-button-container {
  margin-top: 20px; /* A침adir margen superior para separar el bot칩n del dado */
}

.dice {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.dice.roll {
  animation: roll linear infinite;
}

@keyframes roll {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(3600deg) rotateY(3600deg); }
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid #ccc;
}

.face img {
  width: 100%;
  height: 100%;
}

.one { transform: rotateY(0deg) translateZ(100px); }
.two { transform: rotateX(180deg) translateZ(100px); }
.three { transform: rotateX(-90deg) translateZ(100px); }
.four { transform: rotateX(90deg) translateZ(100px); }
.five { transform: rotateY(90deg) translateZ(100px); }
.six { transform: rotateY(-90deg) translateZ(100px); }

input[type="text"] {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  align-self: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.cuadrotxt {
  width: 100px;
}