<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Dado</title>
    <link rel="stylesheet" href="rolldice-view.component.css">
</head>
<body>
    <div class="container">
        <app-back-arrow id="back-arrow" [enabled]="backArrowEnabled"></app-back-arrow>
        <h2 class="subtitle">Tira el dado</h2>
        <p class="instructions">Ingresa un número y haz girar el dado, si coinciden ganas!</p>
        <div class="dice-container">
            <div class="dice" 
            [ngClass]="{'roll': isRolling}" 
            [ngStyle]="{'transform': !isRolling ? finalTransform : '', 'animation-duration': rollTime + 's'}">
            
                <div class="face one"><img [src]="images[0]" alt="Face 1"></div>
                <div class="face two"><img [src]="images[1]" alt="Face 2"></div>
                <div class="face three"><img [src]="images[2]" alt="Face 3"></div>
                <div class="face four"><img [src]="images[3]" alt="Face 4"></div>
                <div class="face five"><img [src]="images[4]" alt="Face 5"></div>
                <div class="face six"><img [src]="images[5]" alt="Face 6"></div>
            </div>
            <app-generic-button
				title="Girar"
				[fontSize]="'2rem'"
				[styledPadding]="'0.025rem 2rem'"
				class="mb-2 container_play-btn"
				(click)="rollDice() ; music(); this.backArrowEnabled = false;">
				<div *ngIf="slot_music">
					<audio
						controls="None"
						hidden
						autoplay>
						<source
							src="./assets/audio/roll_dice.mp3"/>
					</audio>
				</div>
			</app-generic-button>
        </div>
            <input
                
				(click)="changeView()"
				class="btn menu__input"
				type="text"
				#codeInput="ngModel"
				[(ngModel)]="keyController.code"
				onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                (input)="validateInput($event)" 
                placeholder="Ingresa el número a adivinar" 
                maxlength="1"/>

        <app-keyboard *ngIf="!scanState" [keys]="['1', '2', '3', '4', '5', '6', 'delete']"></app-keyboard>
        <audio
		autoplay
		[volume]="0.02"
		loop
		controls="None"
		hidden
		src="./assets/audio/playing_music.mp3"></audio>
    </div>
</body>
</html>
