<app-menu>
    <mat-toolbar class="background-navy-primary green-primary">
      <span>DISEÑO DE JUEGOS</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  
    <div class="publicity-container">
      <div class="publicity__changes">
        <p class="publicity__title white-color">PRECISIÓN</p>
        <div class="time-container">
          <div class="time-column">
            <img src="{{previewWatchBox}}" alt="Caja de Reloj" />
          <button class="plus-button" (click)="takeInputDoorLeft.click()">+</button>
          <input class="file-input" type="file" #takeInputDoorLeft (change)="capturarFileBoxWatch($event)">
          </div>
        </div>
        <p class="publicity__title white-color">Escala de imagen 200x60</p>
        
        <div class="buttons-container">
          <app-button-primary (click)="updateDesign()" title="Guardar"></app-button-primary>
          <app-button-primary (click)="cancel()" title="Cancelar" backgroundColor="#fff"></app-button-primary>
        </div>

      </div>
      <div class="publicity__view">
      <div class="publicity__view-column">
        <img id="background" src="{{previewBackground}}" alt="Fondo Precisión" />
        <button class="select-button" (click)="takeInputBackground.click()">Seleccionar Fondo</button>
        <input class="file-input" type="file" #takeInputBackground (change)="capturarBackgroundFile($event)">
      </div>

      <div class="publicity__view-column">
        <img id="logo" src="{{previewLogo}}" alt="logo Precisión"/>
        <button class="select-button" (click)="takeInputLogo.click()">Seleccionar Logo</button>
        <input class="file-input" type="file" #takeInputLogo (change)="capturarFileLogo($event)">
      </div>
    </div>
    </div>
  </app-menu>
  