<app-menu>
    <mat-toolbar class="background-navy-primary green-primary">
      <span>DISEÑO DE JUEGOS</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  
    <div class="publicity-container">
      <div class="publicity__changes">
        <p class="publicity__title white-color">PRECISIÓN</p>
        <div class="time-container">
          <div class="time-column">
            <p>4:15</p>
            <button class="plus-button">+</button>
          </div>
          <div class="time-column">
            <p>4:15</p>
            <button class="plus-button">+</button>
          </div>
        </div>
        <p class="publicity__title white-color">Escala de imagen 200x60</p>
        <p class="publicity__title white-color">Numero de Intentos:</p>
        <input type="text" placeholder="Inserte un número aquí" />
        <label class="switch">
            <input type="checkbox" placeholder="OFF">
            <span class="slider round"></span>
        </label>
        <button mat-button class="save-button">Guardar</button>
      </div>
      <div class="publicity__view">
        <img src="./assets/img/fondo_Precision.png" alt="fondo_Precision" />
        <button mat-button class="select-button">Seleccionar Fondo</button>
        <button mat-button class="select-button">Seleccionar Logo</button>
      </div>
    </div>
  </app-menu>
  