body {
    background-color: #0d1b2a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

#target-time, #result {
    font-size: 1.5em;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 8px;
}

button[disabled] {
    background-color: #6c757d;
}

.clock {
    font-size: 3em;
    margin: 20px 0;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
}

#back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }