/* Ajustes generales */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d1b2a;
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal ocupando toda la pantalla */
.container-fullscreen {
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-menu {
    position: relative;
    flex: 1;
    /* Ocupar el espacio restante entre las publicidades */
    width: 100%;
    background-color: black;
    z-index: 1;
}

.background-shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.background-shadow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.scan_menu-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    box-sizing: border-box;
}

.menu-container_img-container {
    width: 39rem;
    height: 19rem;
    min-height: 4rem;
    margin: 0 1rem 1rem 0;
}

#back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #ffffff;
    text-align: center;
}

 .info-game__text{
    color: white;
    font-size: 4rem;
 }
 .information-game-container {
    background-color: #ffae0017;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7rem;
    align-items: center;
    margin-bottom: 1rem;
 }

/* Estilo para la caja del reloj */
.clock-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; /* Ancho basado en la imagen proporcionada */
    height: 200px; /* Alto basado en la imagen proporcionada */
    margin: 20px 0;
    padding: 0;
    z-index: 1;
}

/* Imagen de fondo para el reloj */
.clock-box {
    width: 400px;
    height: 150px;
}

/* Estilo para el texto del reloj */
.clock {
    position: absolute;
    font-size: 5em;
    /* Ajusta el tamaño de la fuente según sea necesario */
    color: black;
    z-index: 2;
    text-align: center;
    width: 100%;
    /* Para que el texto esté centrado dentro de la caja */
    top: 50%;
    transform: translateY(-50%);
    /* Centra verticalmente el texto dentro de la caja */
    padding: 0 20px;
    /* Añade padding si es necesario para ajustar el texto */
}

.subtitle {
    font-size: 2rem;
    margin-top: 0;
    color: white;
}

.instructions {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio adicional en la parte superior */
}


