<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Precisión</title>
    <link rel="stylesheet" href="precision-view.component.css">
</head>
<body>
    <div class="container" contenteditable="true"
	(window:beforeunload)="doSomething()">
    <app-publicity [publicityList]="publicity.getTopPublicityList()"></app-publicity>
    <app-back-arrow id="back-arrow" [enabled]="backArrowEnabled"></app-back-arrow>
        <h1>Juego de Precisión</h1>
        <p id="target-time">Hora objetivo: {{ targetTime }}</p>
        <button (click)="startClock()" [disabled]="clockRunning">Iniciar</button>
        <button (click)="stopClock()" [disabled]="!clockRunning">Detener</button>
        <div class="clock" id="clock">{{ currentTime }}</div>
        <p id="result">{{ resultMessage }}</p>
    </div>
    <audio
		autoplay
		[volume]="0.05"
		loop
		controls="None"
		hidden
		src="./assets/audio/playing_music.mp3"></audio>
</body>
</html>