<div class="container-fluid text-center">
	<div class="keyboard-container">
	  <div class="row keyboard-row" *ngFor="let row of getRows()">
		<button
		  class="col btn"
		  *ngFor="let key of row"
		  [attr.value]="key"
		  (click)="isDeleteKey(key) ? deleteValue() : getButtonValue($event)">
		  <ng-container *ngIf="!isDeleteKey(key)">{{ key }}</ng-container>
		  <ng-container *ngIf="isDeleteKey(key)">
			<mat-icon [ngStyle]="{ 'font-size': '56px', height: '43px', width: '68px' }">keyboard_backspace</mat-icon>
		  </ng-container>
		</button>
	  </div>