<div class="container-fluid text-center">
	<div class="keyboard-container">
	  <div class="row keyboard-row" *ngFor="let row of getRows()">
		<button
		  class="col btn"
		  *ngFor="let key of row"
		  [attr.value]="key"
		  (click)="getButtonValue($event)">
		  <ng-container>{{ key }}</ng-container>
		</button>
	  </div>
	  <button 
		class="col btn"
		(click)="deleteValue()">
		<mat-icon [ngStyle]="{ 'font-size': '56px', height: '43px', width: '68px' }">keyboard_backspace</mat-icon>
	  </button>
	</div>
  </div>
  