<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos Disponibles</title>
    <link rel="stylesheet" href="selectiongame-view.component.html">
</head>
<body>
    <div class="container">
        <h1>¡Juegos disponibles!</h1>
        <div class="games">
            <div class="game">
                <img src="../../../../../assets/img/door.png" alt="Adivina la puerta">
                <button (click)="navigateTo('juego_guessdoor')">Adivina la puerta</button>
            </div>
            <div class="game">
                <img src="../../../../../assets/img/slot_machine.png" alt="Máquina tragamonedas">
                <button (click)="navigateTo('play')">Máquina tragamonedas</button>
            </div>
            <div class="game">
                <img src="../../../../../assets/img/dice.png" alt="Tira los dados">
                <button (click)="navigateTo('rolldice')">Tira los dados</button>
            </div>
            <div class="game">
                <img src="../../../../../assets/img/precision.png" alt="Precisión">
                <button (click)="navigateTo('juego_precision')">Precisión</button>
            </div>
        </div>
    </div>
</body>
</html>
