
    <div class="container-fullscreen">
        <app-publicity [publicityList]="dashPublicity.getTopPublicityList()"></app-publicity>
        <div class="container-menu">
            <app-logo [urlImage]="styles.get_image_logo_game()" [isBackground]="true" height="25rem"></app-logo>
            <div class="scan-shadow"></div>
            <div class="scan_menu-container">
                <h1>¡Juegos disponibles!</h1>
                <div class="games">
                    <div *ngFor="let game of allGames" class="game">
                        <img (click)="navigateTo(game.name, game.id)" [src]="'../../../../../assets/img/' + game.name + '.png'" [alt]="game.name">
                    </div>
                </div>
            </div>
        </div>
        <app-publicity [publicityList]="dashPublicity.getBottomPublicityList()" [isTop]="false"></app-publicity>
    </div>