<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos Disponibles</title>
    <link rel="stylesheet" href="selectiongame-view.component.css">
</head>
<body>
    <div class="container">
        <h1>¡Juegos disponibles!</h1>
        <div class="games">
          <div *ngFor="let game of allGames" class="game">
            <img [src]="'../../../../../assets/img/' + game.name + '.png'" [alt]="game.name">
            <button (click)="navigateTo(game.name, game.id)">{{ game.name }}</button>
          </div>
        </div>
      </div>      
</body>
</html>
